		<footer>
            <div class="footer-info">
                <p>
                    <%= myLocalize.translate("ФутерИнфа")%>
                </p>
                <ul>
                    <li><a href="/"><%= myLocalize.translate("Главная")%></a></li>
                    <li><a href="/payment"><%= myLocalize.translate("Оплата и доставка")%></a></li>
                    <li><a href="/pickup"><%= myLocalize.translate("Самовывоз")%></a></li>
                    <li><a href="/about"><%= myLocalize.translate("О нас")%></a></li>
                </ul>
            </div>
		</footer>
	</body>
</html>