<%- include('header'); -%>
<main>
    <p class="main"><%= myLocalize.translate("Теги:")%></p>
	<div class="main main-tags">
        <a href="/search?value=sport" class="badge badge-pill badge-dark">Sport</a>
        <a href="/search?value=love" class="badge badge-pill badge-dark">Love</a>
        <a href="/search?value=russia" class="badge badge-pill badge-dark">Russia</a>
        <a href="/search?value=anime" class="badge badge-pill badge-dark">Anime</a>
        <a href="/search?value=got" class="badge badge-pill badge-dark">GOT</a>
    </div>

    <p class="main"><%= myLocalize.translate("Новые:")%></p>
    <div class="main main-new">
        <% newEntitys.forEach(function(newEntity){ %>
            <a href="tshirt/<%= newEntity.id %>">
                <div class="t-shirt-one">
                    <iframe width="100%" height="200" src="http://127.0.0.1:3000/download/<%= newEntity.id%>" name="iframe" scrolling="no"> </iframe>

                    <!-- <img class="t-shirt" src="/public/img/test.jpg"> -->
                    <div>
                     <!--    <%= newEntitys.image %> -->
                        <%= newEntity.name %>  
                    </div>
                </div>
            </a>
        <% }); %>
    </div>

    <p class="main"> <%= myLocalize.translate("Популярные:")%></p>
    <div class="main main-best">
        <% bestEntitys.forEach(function(bestEntity){ %>
            <a href="tshirt/<%= bestEntity.id %>">
                <div class="t-shirt-one">
                    <iframe width="100%" height="200" src="http://127.0.0.1:3000/download/<%= bestEntity.id%>" name="iframe" scrolling="no"> </iframe>
                    <!-- <img class="t-shirt" src="/public/img/test.jpg"> -->
                    <div>
                       <!--  <%= bestEntity.image %> -->
                        <%= bestEntity.name %>  
                    </div>
                </div>
            </a>
        <% }); %>
    </div>

</main> 

<%- include('footer'); -%>