<%- include('header'); -%>
<main>


    <h2 class="main"><%= myLocalize.translate("Запрос:")%> <%= query %></h2>
    <p class="main">
        <% if (tshirts.length == 0) { -%>
            <%= myLocalize.translate("Не найдено")%>! 
        <% } -%>
    </p>
    <div class="main main-new">
        <% tshirts.forEach(function(tshirt){ %>
            <a href="tshirt/<%= tshirt.id %>">
                <div class="t-shirt-one">
                    <iframe width="100%" height="200" src="http://127.0.0.1:3000/download/<%= tshirt.id%>" name="iframe" scrolling="no"> </iframe>
                    <div>
                     <!--    <%= tshirts.image %> -->
                        <%= tshirt.name %>  
                    </div>
                </div>
            </a>
        <% }); %>
    </div>

    <p class="main"><%= myLocalize.translate("Так же попробуйте")%>:</p>
    <div class="main main-tags">
        <a href="/search?value=sport" class="badge badge-pill badge-dark">Sport</a>
        <a href="/search?value=love" class="badge badge-pill badge-dark">Love</a>
        <a href="/search?value=russia" class="badge badge-pill badge-dark">Russia</a>
        <a href="/search?value=anime" class="badge badge-pill badge-dark">Anime</a>
        <a href="/search?value=got" class="badge badge-pill badge-dark">GOT</a>
    </div>
</main> 

<%- include('footer'); -%>